// colors
$white-color: #ffffff;
$dark-color: #19191b;
$blue-color: #4026e7;
$gold-color:#FFD700;

$text-muted: #aaaaaa;
$text-h1: #aaaaaa;



// Text Colors
$text-light: #ffffff;


// shadow color
$shadow-color: rgba(0, 0, 0, 0.08);